* {
  box-sizing: border-box;
}
/*Adding fonts*/
/*For titles and headers*/
@font-face {
  font-family: titleFont;
  src: url("fonts/TitleFont.ttf");
}
/*For descriptions, paragraphs, and buttons*/
@font-face {
  font-family: basicFont;
  src: url("fonts/basicFont.ttf");
}
body {
  background-color: black;
}
p {
  color: grey;
  font-family: basicFont;
  font-size: 25px;
  margin-bottom: -5px;
  margin-top: 0px;
}
h1 {
  color: white;
  font-family: titleFont;
  font-size: 70px;
  margin: 0px;
  padding: 0px;
}
h2 {
  color: white;
  font-family: titleFont;
  font-size: 50px;
  text-align: left;
  margin: 0px;
}
h3 {
  color: white;
  font-family: titleFont;
  font-size: 35px;
  text-align: left;
  margin: 0px;
  padding: 0px;
}
label {
  color: white;
  font-family: basicFont;
  font-size: 25px;
}
hr {
  margin-bottom: 20px;
  margin-top: 20px;
}
button{
  background-color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  overflow: hidden;
  width: 200px;
  height: 50px;
  border-style: ridge;
  color: white;
  font-size: 20px;
  font-family: basicFont;
}
button:hover{
  box-shadow: 0px 0px 10px black;
}
/*Style for the main title (Title at the top of first page)*/
#mainTitle {
  color: white;
  font-size: 90px;
  text-align: left;
  margin-left: -2px;
  }
#mainTitle:hover {
  text-shadow: 0px 0px 5px white;
}
#mainTitle:active {
  text-shadow: 0px 0px 15px white;
}
/*Title at Top */
.TitleDiv{
  background-color: black;
  width: 100%;
  padding: 25px;
  padding-bottom: 0px;
  text-align: left;
  overflow: hidden;
  display: inline-block;
  float: left;
}
#RightSideContent{
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  overflow: hidden;
  display: inline-block;
  float: left;
}
#ProductPreview{
  background-color: white;
  width: 50%;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  display: inline-block;
  float: left;
}
#ProductPreview p{
  color: black;
}
#ProductPreview img{
  border-radius: 10px;
  box-shadow:  0px 5px 15px black;
}
#WriteReviewDiv{
  background-color: white;
  width: 40%;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  text-align: left;
  overflow: hidden;
  display: inline-block;
  float: left;
}
#WriteReviewDiv p{
  color: black;
}
#WriteReviewDiv h3{
  color: black;
}
#WriteReviewDiv label{
  color: black;
}
#Review{
  background-color: white;
  width: 40%;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  text-align: left;
  overflow: hidden;
  display: inline-block;
  float: left;
}
#Review h3{
  color: black;
}
#Review label{
  color: grey;
}
#Review p{
  color: black;
}
.UserReviewBox{
  width: 100%;
  height: 300px;
  border-radius: 5px;
  font-family: basicFont;
  font-size: 25px;
  padding: 5px;
}
